<style rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css"></style>
<div class="row">
<div class="col-lg-12">
<img src="{{recipe.imagePath}}" class="img-responsive" style="max-height:300px">
</div>
</div>

<div class="row">
<div class="col-lg-12">
    <h1>{{recipe.name}}</h1>
</div>
</div>

<div class="row">
<div class="col-lg-12">
    <button class="btn btn-primary" (click)="addIngredientsToShoppingList(recipe.ingredients)">To shopping list</button>
    <button class="btn btn-primary" (click)="editRecipe()">Edit Recipe</button>
<!--
  <select class="form-control selectpicker" data-style="btn-primary">
      <option (click)="onAddToShoppingList()">To shopping list</option>
      <option>Edit Recipe</option>
      <option>Delete Recipe</option>
  </select>
-->
</div>
</div>

<div class="row">
<div class="col-lg-12">
Description    {{recipe.description}}
</div>
</div>

<div class="row">
<div class="col-lg-12">
    <h1 class="text-primary">Ingredient's</h1>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let x of recipe.ingredients">{{x.name}} ({{x.amount}})</li>
</ul>
</div>
</div>